<a href="https://colab.research.google.com/github/Amankhalsa/Data_Science/blob/master/DataSci_Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Sci model 

*   import pandas 
*   import .....
*   import pickle

In [ ]:
import pandas as pd
df_train=pd.read_csv("train.csv")
df_test=pd.read_csv("test.csv")
print(df_train.shape)
print(df_train.size)

(891, 12)
10692

In [ ]:
df_train.head(4)

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S

[4 rows x 12 columns]

In [ ]:
df_train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
print(df_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [ ]:
print(df_train.describe())

       PassengerId    Survived      Pclass  ...       SibSp       Parch        Fare
count   891.000000  891.000000  891.000000  ...  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642  ...    0.523008    0.381594   32.204208
std     257.353842    0.486592    0.836071  ...    1.102743    0.806057   49.693429
min       1.000000    0.000000    1.000000  ...    0.000000    0.000000    0.000000
25%     223.500000    0.000000    2.000000  ...    0.000000    0.000000    7.910400
50%     446.000000    0.000000    3.000000  ...    0.000000    0.000000   14.454200
75%     668.500000    1.000000    3.000000  ...    1.000000    0.000000   31.000000
max     891.000000    1.000000    3.000000  ...    8.000000    6.000000  512.329200

[8 rows x 7 columns]

In [ ]:
df_train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
df_train = pd.read_csv('train.csv')
 
def title(name):
   if '.' in name:
      return name.split(',')[1].split('.')[0].strip()
   else:
      return 'No title Exists'
unique_titles =sorted(set([x for x in df_train['Name'].map(lambda x: title(x))]))
 
print(len(unique_titles) ,':' ,unique_titles)
def compact_titles(x):
   title_new = x['Title']
   if title_new in ['Capt', 'Col', 'Major']:
      return 'Officer'
   elif title_new in ['Mr','Master','Don','the Countess','Sir', 'Ms','Jonkheer', 'Dona', 'Lady']:
      return 'Royale People'
   elif title_new in ['Mrs','Master','Miss''the Countess','Mme','Lady']:
      return 'Mrs'
   elif title_new in ['Miss','Mrs','Mlle', 'Ms']:
      return 'Miss'
   else:
      return title_new
 
 
df_train['Title'] = df_train['Name'].map(lambda x: title(x))
 
df_train['Title'] = df_train.apply(compact_titles, axis=1)
 
print(df_train.Title.value_counts())
df_train['Age'].fillna(df_train['Age'].median(), inplace =True)
df_train['Fare'].fillna(df_train['Fare'].median(), inplace =True)
df_train['Embarked'].fillna("S" , inplace =True)
df_train.drop('Name', axis=1, inplace=True)
df_train.drop('Ticket', axis=1, inplace=True)
df_train.drop('Cabin', axis=1, inplace=True)
df_train.Sex.replace(('male', 'female'), (0, 1), inplace=True)
df_train.Embarked.replace(('S', 'Q', 'C'), (0, 1, 2), inplace=True)
df_train.Title.replace(('Mrs', 'Miss', 'Royale People', 'Dr', 'Rev', 'Officer','Royale People'), (0, 1, 2, 3, 4, 5, 6), inplace=True)
print(df_train.sample(20))

17 : ['Capt', 'Col', 'Don', 'Dr', 'Jonkheer', 'Lady', 'Major', 'Master', 'Miss', 'Mlle', 'Mme', 'Mr', 'Mrs', 'Ms', 'Rev', 'Sir', 'the Countess']
Royale People    563
Miss             184
Mrs              126
Dr                 7
Rev                6
Officer            5
Name: Title, dtype: int64
     PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch      Fare  \
546          547         1       2    1  19.0      1      0   26.0000
474          475         0       3    1  22.0      0      0    9.8375
643          644         1       3    0  28.0      0      0   56.4958
211          212         1       2    1  35.0      0      0   21.0000
574          575         0       3    0  16.0      0      0    8.0500
610          611         0       3    1  39.0      1      5   31.2750
14            15         0       3    1  14.0      0      0    7.8542
182          183         0       3    0   9.0      4      2   31.3875
67            68         0       3    0  19.0      0      0    8.1583
743          744         0       3    0  24.0      1      0   16.1000
795          796         0       2    0  39.0      0      0   13.0000
789          790         0       1    0  46.0      0      0   79.2000
7              8         0       3    0   2.0      3      1   21.0750
190          191         1       2    1  32.0      0      0   13.0000
121          122         0       3    0  28.0      0      0    8.0500
398          399         0       2    0  23.0      0      0   10.5000
737          738         1       1    0  35.0      0      0  512.3292
736          737         0       3    1  48.0      1      3   34.3750
746          747         0       3    0  16.0      1      1   20.2500
17            18         1       2    0  28.0      0      0   13.0000

     Embarked  Title
546         0      0
474         0      1
643         0      6
211         0      1
574         0      6
610         0      0
14          0      1
182         0      6
67          0      6
743         0      6
795         0      6
789         2      6
7           0      6
190         0      0
121         0      6
398         0      3
737         2      6
736         0      0
746         0      6
17          0      6

In [ ]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    int64
 4   Age          891 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Fare         891 non-null    float64
 8   Embarked     891 non-null    int64
 9   Title        891 non-null    int64
dtypes: float64(2), int64(8)
memory usage: 69.7 KB

In [ ]:
df_train.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
Title          0
dtype: int64

In [ ]:
corr= df_train.corr()
corr.Survived.sort_values(ascending=False)

Survived       1.000000
Sex            0.543351
Fare           0.257307
Embarked       0.167675
Parch          0.081629
PassengerId   -0.005007
SibSp         -0.035322
Age           -0.064910
Pclass        -0.338481
Title         -0.535004
Name: Survived, dtype: float64

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
 
# pd.set_option('display.max_columns', None)
 
 
#df_train = pd.read_csv('train.csv')
 
#df_train.sample(5)
 
 
y = df_train['Survived']
x = df_train.drop(['Survived', 'PassengerId'], axis=1)
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.15)

In [ ]:
import pickle 
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rf=RandomForestClassifier()
rf.fit(x_train,y_train)
y_predicted=rf.predict(x_test)
acc_rf=round(accuracy_score(y_predicted,y_test)*100,2)
print(f"Accuracy of model is : {acc_rf}")
pickle.dump(rf,open("my_titanic_model.sav","wb"))

Accuracy of model is : 82.84

In [ ]:
df_test=pd.read_csv('test.csv')
df_test['Title'] = df_test['Name'].map(lambda x: title(x))
 
df_test['Title'] = df_test.apply(compact_titles, axis=1)
ids = df_test['PassengerId']
print(df_test.Title.value_counts())
df_test['Age'].fillna(df_test['Age'].median(), inplace =True)
df_test['Fare'].fillna(df_test['Fare'].median(), inplace =True)
df_test['Embarked'].fillna("S" , inplace =True)
df_test.drop('Name', axis=1, inplace=True)
df_test.drop('Ticket', axis=1, inplace=True)
df_test.drop('Cabin', axis=1, inplace=True)
df_test.drop('PassengerId', axis=1, inplace=True)
df_test.Sex.replace(('male', 'female'), (0, 1), inplace=True)
df_test.Embarked.replace(('S', 'Q', 'C'), (0, 1, 2), inplace=True)
df_test.Title.replace(('Mrs', 'Miss', 'Royale People', 'Dr', 'Rev', 'Officer','Royale People'), (0, 1, 2, 3, 4, 5, 6), inplace=True)

Royale People    263
Miss              78
Mrs               72
Rev                2
Officer            2
Dr                 1
Name: Title, dtype: int64

In [ ]:
predicted_value=rf.predict(df_test)
result =pd.DataFrame({"passangerid":ids, "Survived":predicted_value})
result.to_csv("titanic_predicted.csv", index=False)